/* Importing Rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

/* Main content styles */
main {
  flex-grow: 1;
  flex: 1;
  /* margin-top: 90px; */
  /* padding: 90px; */
}

.background-image{
  background-image: url(./assets/homePageBackground.jpg);
  background-size: cover;
  height: 83vh;
  flex-grow: 1;
  flex: 1;
  /* margin-top: 90px; */
  padding: 90px;
}

/* Styles for content text */
.content {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  color: #d4d467;
}

/* App container styles */
.App {
  background-color:#202023;
  z-index: -2;
  /* display: flex; */
  flex-direction: column;
  min-height: 100vh;
}



/* Style for main buttons */
.MainButtonContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

/* Styles for individual main buttons */
.MainButton {
  border: 0px;
  background: none;
  height: 100px;
  width: 250px;
  text-align: center;
  font: bold 48px/1 'Rubik', sans-serif;
  color: rgb(212, 212, 103);
  margin: 0 50px;
  position: relative;
}

/* Hover effect for main buttons */
.MainButton:hover {
  transform: scale(1.1);
}

#ChoiceButton {
  top: 15%;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgb(128, 128, 128, 0.7);
  height: 500px;
  width: 300px;
}

/* Styles for large Rubik font with border */
.BorderedRubik {
  font-size: 64px;
  font-family: 'Rubik', sans-serif;
  color: rgb(212, 212, 103);
  margin-bottom: 5vw;
}



/* 
Notes to myself:
`The dark days have come
 But we must not stop programming
 For it is our only hope
 Thus below this short yet motivating patch of text
 I will scribble what are the properties of css'ing
 Why?
 Cause I will need it in the future.
 My memory is sadly not as it was years before`

Padding: Taki kurwa margines trochę (height, wight)

Border:
  Radius //dziwna nazwa na zakola
  display: flex; //Wszystko w środku staje się flexem
  min-height: 100vh; //Całość ekranu
  position: fixed; //Zawsze pozostaje na górze
  padding: 5px; //Taki margines
  justify-content: flex-end; //Jak się flexuje to na koniec (prawo)
  font: bold 10px/1 sans-serif; //font-weight dla samej grubości
  .NavButton:last-child { //Affects only the last button (that was insanely hard to find how to do xd)
*/