.main {
    padding-top: 10vh;
    height: 83vh;
    padding-bottom: 7vh;
}

.wrapper {
    width: 100%;
    height: 83vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    z-index: 0;
    display: flex;
    flex-wrap: nowrap;
}

.cards>.card {
    align-items: center;
    width: 20vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
    border-radius: .75rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 5vw;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
    background-color: transparent;
}

.cards>.card img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: scale(1.1);
    transition: all .7s cubic-bezier(.6, .09, .2, .99);
}

.cards>.card h2 {
    text-shadow: 2px 2px 0 #000, 2px 2px 0 #000;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    color: rgb(212, 212, 103);
}

.cards>.card p {
    text-shadow: 1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-family: 'Rubik', sans-serif;
    color: rgb(212, 212, 103);
}

.background-image2{
    background-image: url(../../assets/background2.png);
}

.text-content{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Set the text shadow */
    position: absolute;
    width: 30vw;
    height: 70vh;
    left: 50%;
}

.MainButton{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Set the text shadow */
}

.text-h2{
    margin: 10%;
}